<h2 class="ui center aligned header">Welcome to message me</h2>
<h4 class="ui center aligned medium icon header">
  <i class="circular orange power icon"></i>
  Log in to continue
</h4>
<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <%= form_for(:session, html: {class: "ui form", role: "form"}, url: login_path) do |f| %>
        <div class="field">
          <%= f.label :username, "Username" %>
          <div class="ui left icon input">
            <%= f.text_field :username, placeholder: "Username" %>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <%= f.label :password %>
          <div class="ui left icon input">
            <%= f.password_field :password, placeholder: "Password" %>
            <i class="lock icon"></i>
          </div>
        </div>
        <%= f.button 'Login', class: "ui orange submit button" %>
      <% end %>
    </div>
    <div class="middle aligned column">
      <a href="<%= signup_path %>" class="ui orange big button"><i class="signup icon"></i>Sign up</a>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>
